body{
background-color: lightblue;
}

ul{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-main{
    width: 400px;
    margin: 300px auto;
    background-color: white;
}

.close{
    display: block;
}